body {
	background: #ffffff;
    font-family: 'Quicksand' !important;
    font-size: 13px;
	cursor: pointer;
    margin: 0;
	padding: 0;
}

.container{
    padding-top: 125px !important;
}
.add-BTN:hover{
    background-color: #9acd32;
    transition: ease 0.2s;
}
.clear-BTN:hover{
    background-color: gray;
    transition: ease 0.2s;
}
.add-BTN{
    /* Sets width to 100% */
    width: 50%;

    /* Styles for button */
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;

    /* Background and text color */
    color: #fff;
    background-color: #91C788;
    border: none;
    outline: none;
    margin-bottom: 1px !important;
    margin-left: 220px !important;
}
.clear-BTN{
    /* Sets width to 100% */
    width: 50%;

    /* Styles for button */
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;

    /* Background and text color */
    color: #fff;
    background-color: #6c757d;
    border: none;
    outline: none;
    margin-bottom: 30px !important;
    margin-left: 220px !important;

}
input.form-control:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #9acd32;
}
h2.text-center mb-4{
    font-family: 'Quicksand' !important;
    font-weight: 100 !important;
}

h2{
    font-weight:400 !important;
    padding-bottom: 10px !important;
    color: #40513B !important;
}
form{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08) !important;
    border-top: solid #91C788 2px;
}