body {
	font-family: 'Quicksand';
	background-color: #ffffff;
	cursor: pointer;
}
.formBox{
    background-color: #FEFFDE;
	border-top: 11px solid #91C788;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: relative;
	display: flex;
	width: 515px;
	height: 550px;
	margin: 80px auto;
}
.reg-span{
    font-size: 35px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-left: 40px;
    margin-bottom: 15px;
    margin-top: 25px;
}
.fname-input{
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 40px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.lname-input{
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 40px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.pNumber-input{
    width: 417px;
    height: 25px;
    margin-top: 23px;
    margin-left: 40px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.pass-input{
    width: 417px;
    height: 25px;
    margin-top: 23px;
    margin-left: 40px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.confirmPass-input{
    width: 417px;
    height: 25px;
    margin-top: 23px;
    margin-left: 40px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.submit-btn{
    width: 430px;
    height: 45px;
    margin-top: 35px;
    margin-left: 40px;
    background-color: white;
    border-color: white;
	border-top: 5px solid #91C788;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: black;	
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;    
}
.submit-btn:hover{
	background: #91C788;
	border-top: 5px solid #ffffff;
	color: rgb(255, 255, 255);
	transition-duration: 0.2s;
}
.terms-p{
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.haveAcc-p{
    text-align: center;
    font-size: 15px;
    margin-top: 35px;
}
.login-Anc{
    text-decoration: none;
	color: #91C788;
}