body {
	font-family: 'Quicksand';
	background-color: #ffffff;
	cursor: pointer;
}
.loginBox{
	background-color: #FEFFDE;
	border-top: 11px solid #91C788;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: relative;
	display: flex;
	width: 400px;
	height: 380px;
	margin: 115px auto;
	
}
.login-span{
    margin-top: 27px;
    font-size: 25px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-left: 40px;
    margin-bottom: 15px;
}

.username-input{
    width: 300px;
    height: 30px;
    margin-top: 23px;
    margin-left: 40px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
}
::placeholder {
    font-family: 'Quicksand';
    color: #999;
    font-size: 14px;
    font-weight: 300;
    padding-left: 5px;
  }
.password-input{
    width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
}
.submit-input{
    width: 315px;
    height: 45px;
    margin-top: 35px;
    margin-left: 40px;
    background-color: white;
    border-color: white;
	border-top: 5px solid #91C788;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: black;	
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}
.submit-input:hover{
	background: #91C788;
	border-top: 5px solid #ffffff;
	color: rgb(255, 255, 255);
	transition-duration: 0.2s;
}
input[type="text"]:focus {
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-family: 'Quicksand';
}
input[type="password"]:focus{
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-family: 'Quicksand';
}
/**.googleContainer{
    background-color: white;
    margin-left: 200px;
    border: 1px solid black;
    padding: 10px;
    
}
img{
    height: 30px;
	width: 30px;
    float: left;
}
.google-p{
    float: left;
}
.or-span{
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-left: 180px;
}
**/
.noAcc-span{
    margin-left: 130px;
	font-size: 15px;
	
}
.signup-Anc{
	text-decoration: none;
	color: #91C788;
}
