body {
    color: #2e323c;
    background: #f5f6fa;
    height: 100%;
    font-family: 'Quicksand' !important;
}
.myaccount-cont{
    padding: 150px;
    z-index: 0; /* set a lower z-index value for the main content */
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
.modal.fade .modal-dialog {
    transform: translate(0, -50%) !important;
    transition: transform 0.5s ease-out !important;
}
.modal.fade.show .modal-dialog {
    transform: translate(0, 0) !important;
}
p.uploaded{
    margin-top: 10px !important;
}
span.uf{
    font-weight: 800 !important;
}
#submit-img{
    margin-top: 23px !important;
    margin-left: 70px !important;
    font-size: 13px !important;
    margin-bottom: 10px !important;



    /* Styles for button */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;

    /* Background and text color */
    color: #fff;
    background-color: #91C788;
    border: none;
    outline: none;
    margin-bottom: 20px !important;


}
#saveButton{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;

    /* Background and text color */
    color: #fff;
    background-color: #91C788;
    border: none;
    outline: none;
    margin-bottom: 20px !important;
}
#editButton{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;

    /* Background and text color */
    color: #fff;
    background-color: #6c757d;
    border: none;
    outline: none;
    margin-bottom: 20px !important;
}
#submit-img:focus {                /** Para change color ig click **/
    border: 2px solid #9acd32; 
    outline: none;
}
h6.user-email{
    margin-bottom: 10px !important;
}
#profile-h5{
    color: green !important;
}
#valid-h5{
    color: green !important;
}
#personal-h6{
    color: green !important;
}
#account-h6{
    color: green !important;
}