body {
	font-family: 'Quicksand';
	background-color: #ffffff;
	cursor: pointer;
    margin: 0;
	padding: 0;
}
.formBox{
    background-color: #FEFFDE;
	border-top: 11px solid #91C788;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: relative;
	display: flex;
	width: 900px;
	height: 600px;
	margin: 10px auto;
}
.navbarBox{
	width: 100%;
	height: 80px;
    background-color: #40513B;
    
}
ul{
    list-style: none;
    display: flex;
    margin-left: 500px;
    margin-top: -28px;
   
}
a {
    text-decoration: none;
    color: white;
    padding: 30px;
    margin-left: 10px;
   
}
.logo-img{
    height: 35px;
	width: 40px;
	margin-top: 15px;
	margin-left: 50px;
	background: #FFFFFF;
	border: 3px solid #91C788;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 13px;
	padding-right: 16px;
}
.hayofind{
    color: white;
    font-size: 30px;
}
.hayofind-div{
    margin-left: 160px;
    margin-top: -48px;
}
.myaccount-anc{
    border-bottom: 1px solid #52734D;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #52734D;
}
.addnewproduct-anc:hover{
    border-bottom: 1px solid #52734D;
    border-radius: 8px;
    transition-duration: 0.2s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #52734D;
}
.myaccount-anc:hover{
    border-bottom: 1px solid #52734D;
    border-radius: 8px;
    transition-duration: 0.2s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #52734D;
}
.home-anc:hover{
    border-bottom: 1px solid #52734D;
    border-radius: 8px;
    transition-duration: 0.2s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #52734D;
}
.myorders-anc:hover{
    border-bottom: 1px solid #52734D;
    border-radius: 8px;
    transition-duration: 0.2s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #52734D;
}
.myproducts-anc:hover{
    border-bottom: 1px solid #52734D;
    border-radius: 8px;
    transition-duration: 0.2s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #52734D;
}
.dropdown {
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 13px;
}
.dropdown-content a:hover {
    background-color: #52734D;
}
.settings-anc{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #40513B;
    margin-left: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logout-anc{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #40513B;
    margin-left: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile-anc{
    background-color: #52734D;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.file-input{
    margin-left: 350px;
    
}
#preview {
    margin-top: 10px;
    border-top: 2px solid #91C788;
    padding: 5px;
    margin-left: 350px;
}
.myprofile-span{
    font-size: 30px;
	margin-left: 30px;
}
.add-span{
    margin-top: 20px;
}
.manage-span{
    font-size: 17px;
	margin-left: 30px;
    
}
.add2-span{
    margin-top: 7px;
}
.merchantType-input{
    align-content: center;
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.merchantID-input{
    align-content: center;
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.username-input{
    align-content: center;
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.name-input{
    align-content: center;
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.email-input{
    align-content: center;
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.pNumber-input{
    align-content: center;
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.dob-input{
    align-content: center;
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.address-input{
    align-content: center;
    width: 180px;
    height: 25px;
    margin-top: 23px;
    margin-left: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Quicksand';
    border-bottom: 1px solid #91C788;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.merchantType-label{
    margin-left: 100px;
}
.merchantID-label{
    margin-left: 20px;
}
.username-label{
    margin-left: 133px;
}
.name-label{
    margin-left: 65px;
}
.email-label{
    margin-left: 168px;
}
.pNumber-label{
    margin-left: 2px;
}
.gender-label{
    margin-left: 155px;
}
.dob-label{
    margin-left: 46px;
}
.address-label{
    margin-left: 148px;
}
.verification-label{
    margin-left: 95px;
    font-size: 15px;
}
.female-label{
    margin-left: 20px;
}
.verification-input{
    margin-left: 10px;
}
.add-btn{
    margin-top: 50px;
    margin-left: 570px;
    width: 120px;
    height: 35px;
    background-color: white;
    border-color: white;
	border-top: 5px solid #91C788;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: black;	
    text-decoration: none;
    font-weight: bold;    
}
.clear-btn{
    margin-left: 20px;
    width: 120px;
    height: 35px;
    background-color: white;
    border-color: white;
	border-top: 5px solid #91C788;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: black;	
    text-decoration: none;
    font-weight: bold;    
}
.add-btn:hover{
    background: #91C788;
	border-top: 5px solid #ffffff;
	color: rgb(255, 255, 255);
	transition-duration: 0.2s;
}
.clear-btn:hover{
    background: #91C788;
	border-top: 5px solid #ffffff;
	color: rgb(255, 255, 255);
	transition-duration: 0.2s;
}