body {
    background: #f5f5f5;
    font-family: 'Quicksand';
    font-size: 13px;
	cursor: pointer;
    margin: 0;
	padding: 0;
}
.navbarBox{
	width: 100%;
	height: 115px;              /**ADJUSTED***/
    background-color: #40513B;
    position: fixed;
    z-index: 1; /* set a higher z-index value for the navigation bar */
}
ul{
    list-style: none !important;
    display: flex !important;
    margin-left: 650px !important;
    margin-top: -48px !important;
   
}

a{
    text-decoration: none !important;
    color: white !important;
    font-family: 'Quicksand';
   
}

.home-anc{
    font-size: 23px; 
    text-decoration: none;
    color: white;
    padding: 30px;
    margin-left: 10px;
    
}
.myproducts-anc{
    font-size: 23px; 
    text-decoration: none;
    color: white;
    padding: 30px;
    margin-left: 40px;           /**ADJUSTED***/
}
.addnewproduct-anc{
    font-size: 23px; 
    text-decoration: none;
    color: white;
    padding: 30px;
    margin-left: 40px;           /**ADJUSTED***/
}
.myorders-anc{
    font-size: 23px; 
    text-decoration: none;
    color: white;
    padding: 30px;
    margin-left: 40px;           /**ADJUSTED***/
}
.myproducts-anc{
    border-bottom: 1px solid #52734D;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;            /**ADJUSTED***/
    padding-bottom: 18px;          /**ADJUSTED***/
    background-color: #52734D;
}
.myaccount-anc{
    font-size: 23px; 
    text-decoration: none;
    color: white;
    padding: 30px;
    margin-left: 40px;           /**ADJUSTED***/
}

.addnewproduct-anc:hover{
    border-bottom: 1px solid #52734D;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;            /**ADJUSTED***/
    padding-bottom: 18px;          /**ADJUSTED***/
    background-color: #52734D;
}
.myaccount-anc:hover{
    border-bottom: 1px solid #52734D;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;            /**ADJUSTED***/
    padding-bottom: 18px;          /**ADJUSTED***/
    background-color: #52734D;
}
.home-anc:hover{
    border-bottom: 1px solid #52734D;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;            /**ADJUSTED***/
    padding-bottom: 18px;          /**ADJUSTED***/
    background-color: #52734D;
}
.myorders-anc:hover{
    border-bottom: 1px solid #52734D;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;            /**ADJUSTED***/
    padding-bottom: 18px;          /**ADJUSTED***/
    background-color: #52734D;
}
.custom-logo-img{
    height: 55px !important;
	width: 75px !important;
	margin-top: 30px;
	margin-left: 50px;
    background: #FFFFFF;
	border: 3px solid #91C788;
    padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 13px;
	padding-right: 16px;

    
}
.hayofind{
    color: white !important;
    font-size: 42px !important;
    font-family: 'Quicksand';
}
.hayofind-div{
    margin-left: 160px !important;
    margin-top: -56px !important;
}
.dropdown {
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 13px;
}
  
.dropdown-content a {
    font-size: 23px;
    color: white !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    display: block !important;
    background-color: #40513B;
    margin-left: 66px !important;           /**ADJUSTED***/
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
   
}
  
.dropdown-content a:hover {
    background-color: #52734D;
}

/** TABLE DESIGNS BOOTSTRAP***/
.container{
    padding-top: 145px !important;
    width: 1500px !important;
    z-index: 0; /* set a lower z-index value for the main content */
}
.table-wrapper {
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
}
.table-title h2{
    font-size: 30px;
    font-weight:500;
    text-align: center;
    font-family: 'Quicksand' !important;
}
.table-title{
    margin-top: -15px !important;
    box-shadow: 0px 3.18px 35.16px rgba(0, 0, 0, 0.08);
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
    width: 1420px !important;
    margin-left: 25px !important;
    margin-bottom: -30px;
}
th{
    font-family: 'Quicksand';
}
.table-wrapper{

}
.th_head{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    padding: 20px !important;
}
td{
    font-family: 'Quicksand';
    
}
table{
    box-shadow: 0px 3.18px 35.16px rgba(0, 0, 0, 0.08) !important;
}
.td_data{
    font-style: normal;
    font-weight: 500;
    padding: 20px !important;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
    
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold !important;
    color: #566787 ;
    display: inline-block !important;
    text-decoration: none !important;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3 !important;
}
table.table td a.edit {
    color: #5cb85c !important;
}
table.table td a.delete {
    color: #F44336 !important;
}
table.table td i {
    font-size: 19px !important;
    
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}    

/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}
.modal-header{
    background-color: #5cb85c !important;
    color: white !important;
}
#itemModal{
    font-family: 'Quicksand' !important;
}
#deleteProductModal{
    font-family: 'Quicksand' !important;
}
#updateBTN{
    background-color: #5cb85c !important;
    border: none;
    margin-left: 238px;
}
.modalLabels{
    font-weight: bolder !important;
}
