#backtohome{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;

    /* Background and text color */
    color: #fff;
    background-color: #91C788;
    border: none;
    outline: none;
    text-decoration: none !important; 
    margin-left: 200px;
    
}
.container-fluid{
    padding-top: 180px;
}
.info-container{
    background-color: white;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 40px !important;
    box-shadow: 0px 3.18px 35.16px rgba(0, 0, 0, 0.08);
    width: 1500px;
    margin-left: 200px;
}
h5.name{
    font-size: 35px;
    font-weight: 500;
}
h6{
    font-size: 21px;
    font-weight: 500 !important;
}
span{
    font-size: 18px;
    font-weight: 400 !important;
}
p{
    font-size: 21px;
    font-weight: 500 !important;
}
span.desc{
    font-size: 16px;
    text-align: justify !important;
}
#star-icon{
    color: #5cb85c;
}